@{
    ViewData["Title"] = "About us";
}

<h1 class="text-center text-primary">About GoSport</h1>

<div class="row">
    <div class="col-md-3 text-center text-primary">
    </div>
    <div class="col-md-6 class="text-center">
             <p>
        <h5 >
            GoSport is a web application for sporting events. 
            Its goal is to connect people with the same sporting interests and allow them to get involved in any event they want.
            GoSport facilitates the process of participating in a sporting event and thus helps more and more people to find sports parkers to play sports together.
        </h5>
        </p>
    </div>
</div>
