@using GoSport.Core.ViewModel.Event
@using GoSport.Core.ViewModel.Town
@model SearchTownEventViewModel

@{
    ViewData["Title"] = "Home";
}

<p>

</p>
<h2 class="text-primary text-center">GoSport</h2>

<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-area="" asp-controller="Events" asp-action="EventsInTown" class="form-inline" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="TownId" class="form-control">
                    <option selected>Select Town</option>
                    @foreach (var name in this.ViewData["Town"] as IEnumerable<SelectTownViewModel>)
                    {
                        <option value="@name.Id">@name.Name</option>
                    }
                </select>
                <span asp-validation-for="TownId" class="text-danger"></span>
                <div class="form-group">
                     <div class="text-center">
                    <input type="submit" value="Search" class="btn btn-primary"/>
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>