@using GoSport.Infrastructure.Data.DateModels
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    
 <div class="collapse navbar-collapse" id="navbar">

    @if (!this.User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav text-right">
            <li class="nav-link">
                <a asp-area="Sport" asp-controller="Sports" asp-action="AllSports" class="nav-link"><i class="fas fa-running"></i> Sports</a>
            </li>
            <li class="nav-link">
                <a asp-area="" asp-controller="Venues" asp-action="AllVenues" class="nav-link"><i class="fas fa-archway"></i> Venues</a>
            </li>
        </ul>
    }

    @if (SignInManager.IsSignedIn(User))
    {
        if (this.User.IsInRole("Admin"))
        {
            <partial name="_NavbarAdminPartial" />
        }
        else
        {

            <ul class="nav navbar-nav text-right">              
                <li class="nav-link">
                    <a asp-area="" asp-controller="Events" asp-action="MyEvents" class="nav-link"><i class="fas fa-calendar-alt"></i> My Events</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="UpdateAccount"><i class="fas fa-user-edit"></i> Hello @UserManager.GetUserName(User)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignOut"><i class="fas fa-user-slash"></i> Sign Out</a>
                </li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="Register"><i class="fas fa-user-plus"></i>Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Users" asp-action="SignIn"><i class="fas fa-user"></i> Sign In</a>
            </li>
        </ul>
    }   
 </div>