@using GoSport.Core.ViewModel.User
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center text-primary">Users</h1>

<table class="table mx-auto table-hover table-bordered table-striped">
    <thead>
    <tr class="table-primary">
        <th class="text-center">
            Username
        </th>
        <th class="text-center">
            Email
        </th>
        <th class="text-center">
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in this.ViewData["Users"] as IEnumerable<UsersViewModel>)
        {
          <tr class="table-striped">
            <td class="text-center">
                @Html.DisplayFor(model => item.Username)
            </td>
             <td class="text-center">
                @Html.DisplayFor(model => item.Email)
            </td>
              @if (await this.UserManager.IsInRoleAsync(this.UserManager.Users.FirstOrDefault(u => u.UserName == item.Username), "User"))
                {
                   <td class="text-center">
                         User
                    </td>
                }
                else
                {
                     <td class="text-center">
                         Admin
                    </td>
                }
            </tr>
            
        }