@using GoSport.Core.ViewModel.Town
@model TownViewModel

@{
    ViewData["Title"] = "Delete Town";
}

<h1 class="text-center text-primary">Delete</h1>

<div class="row text-center">
    <div class="col-md-4 offset-md-4 text-center">
        <form asp-area="" asp-controller="Towns" asp-action="Delete" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                    </div>
                    <input asp-for="Name" class="form-control" readonly style="background-color: striped" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
            <input type="submit" value="Delete Town" class="btn btn-primary" />
        </form>
    </div>
</div>


<div class="text-center">
    <a asp-area="" asp-controller="Towns" asp-action="All">Back to all</a>
</div>