@{
    ViewData["Title"] = "Thank you";
}

<h1>Thank you!</h1>

<h4>Thanks for contacting us!</h4>

<p>Тhanks for your time. Expect someone to contact you soon.</p>

<p>Have a great day!</p>

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
</div>